header {
  background-color: pink;
}

main {
  background-color: antiquewhite;
}

div {
  margin: 1rem;
}

#blog-head {
  background-color: violet;
}

#tag-list {
  background-color: aliceblue;
}

#blog-list {
  background-color: aquamarine;
}

.blog-article {
  background-color: burlywood;
}

.blog-article p {
  margin: 0;
  height: fit-content;
  min-height: 1rem;
  padding-bottom: 1rem;
}

.Gyazo {
  background-color: cadetblue;
}

.link-with-name {
  background-color: red;
}

.normal-url {
  background-color: tomato;
}


.normal-url2 {
  background-color: coral;
}


#page-nation {
  background-color: yellowgreen;
}

footer {
  background-color: turquoise;
}